In [1]:
import pandas as pd
import numpy as np

In [3]:
# Create a sample dataset
data = {
    'transaction_id': [1, 2, 3, 4, 5],
    'product_id': ['A', 'B', 'A', 'C', 'B'],
    'quantity': [2, 1, 3, 2, 1],
    'price_per_unit': [10.0, 20.0, 15.0, 10.0, 25.0],
    'date': ['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05']
}

df = pd.DataFrame(data)

In [4]:
# Data cleaning: Convert 'date' column to datetime format
df['date'] = pd.to_datetime(df['date'])

# Data transformation: Create a new column 'total_price' by multiplying 'quantity' and 'price_per_unit'
df['total_price'] = df['quantity'] * df['price_per_unit']

In [5]:
# Data aggregation: Calculate total sales per product
product_sales = df.groupby('product_id')['total_price'].sum().reset_index()
product_sales.columns = ['product_id', 'total_sales']

In [6]:
# Merge the aggregated data back to the original dataframe
df = df.merge(product_sales, on='product_id', how='left')

In [7]:
# Data transformation: Calculate the percentage of total sales contributed by each transaction
df['sales_contribution'] = df['total_price'] / df['total_sales'] * 100

In [8]:
# Print the final dataframe
df

,transaction_id,product_id,quantity,price_per_unit,date,total_price,total_sales,sales_contribution
0,1,A,2,10.0,2022-01-01,20.0,65.0,30.769231
1,2,B,1,20.0,2022-01-02,20.0,45.0,44.444444
2,3,A,3,15.0,2022-01-03,45.0,65.0,69.230769
3,4,C,2,10.0,2022-01-04,20.0,20.0,100.000000
4,5,B,1,25.0,2022-01-05,25.0,45.0,55.555556